.col-spacing td {
	padding-right: 4px;
}

input[type="number"] {
	width: 100%;
}

input[type="checkbox"] {
	vertical-align: middle;
	margin: 4px;
}

legend {
	padding: 0 3px;
}

fieldset:not(:first-child) {
	margin-top: 2em;
}

th {
	text-align: left;
}

.description {
	margin-bottom: 1em;
}

.hidden {
	display: none;
}
